.help-status-w {
  background-color: #ffffff;
}

.help-status-r {
  background-color: #f2dede;
}

.help-status-y {
  background-color: #fbf7ca;
}

.help-status-b {
  background-color: #d5f7ff;
}

.help-status-g {
  background-color: #e3e8e9;
}
